/usr*
/build*
/src*
/sdk
/qt
/external/openssl*
.distillery.stamp
**/.DS_Store
.versions
.idea/android-sdk.iml
.idea/codeStyles/Project.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.cxx
build
hproxy-aar
HicnForwarderAndroid/hproxyLibrarySrc
HicnForwarderAndroid/semtun-manager
/compileAll.sh
