name: Build and Deploy
on:
  schedule:
    - cron:  '30 1 * * *'  
  push:
jobs:

  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout GitHub Action'
        uses: actions/checkout@master

      - name: 'Docker Registry Login' 
        uses: azure/docker-login@v1
        with:
          login-server: hub.docker.com
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: 'Pull Docker Image'    
        shell: bash
        run: |
            docker pull icnteam/android-build:hicn
      - name: 'Build apks and publish'
        #if: github.ref == 'refs/heads/master'
        shell: bash
        run: |
          docker run -v $PWD:/hicn  icnteam/android-build:hicn bash -c "bash /hicn/ci/build_apk.sh 1"; mkdir -p apks; cp *.apk apks/
      #- name: 'Build apks without publishing'
       # if: github.ref != 'refs/heads/master'
        #shell: bash
        #run: |
        #  docker run -v $PWD:/hicn  icnteam/android-build:hicn bash -c "bash /hicn/ci/build_apk.sh 0"; mkdir -p apks; cp *.apk apks/
      - name: 'Push Apks artifacts'
        #if: github.ref == 'refs/heads/master'
        uses: actions/upload-artifact@v1
        with:
          name: apks
          path: apks
      - name: 'Remove old assets'
        #if: github.ref == 'refs/heads/master'
        shell: bash
        run: |
          ASSETS_IDS=$(curl --silent -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" "https://api.github.com/repos/icn-team/android-sdk/releases/tags/release" | jq -r '.assets[]' | jq -r '.id');for ASSET_ID in $ASSETS_IDS ; do curl -X DELETE --silent -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" "https://api.github.com/repos/icn-team/android-sdk/releases/assets/$ASSET_ID"; done;
      - name: Upload Release Asset (hICN_Tools)
        #if: github.ref == 'refs/heads/master'
        id: upload-release-asset 
        uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: https://uploads.github.com/repos/icn-team/android-sdk/releases/21250805/assets{?name,label}
          asset_path: ./apks/hICN_Tools.apk
          asset_name: hICN_Tools.apk
          asset_content_type: application/zip
      - name: Upload Release Asset (HicnForwarderAndroid)
        #if: github.ref == 'refs/heads/master'
        id: upload-release-asset-hicnforwarder
        uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: https://uploads.github.com/repos/icn-team/android-sdk/releases/21250805/assets{?name,label}
          asset_path: ./apks/HicnForwarderAndroid.apk
          asset_name: HicnForwarderAndroid.apk
          asset_content_type: application/zip
      - name: Upload Release Asset (Viper arm64)
        #if: github.ref == 'refs/heads/master'
        id: upload-release-asset-viper-arm64
        uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: https://uploads.github.com/repos/icn-team/android-sdk/releases/21250805/assets{?name,label}
          asset_path: ./apks/viper-arm64.apk
          asset_name: viper-arm64.apk
          asset_content_type: application/zip
      - name: Upload Release Asset (Viper x86)
        #if: github.ref == 'refs/heads/master'
        id: upload-release-asset-viper-x86
        uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: https://uploads.github.com/repos/icn-team/android-sdk/releases/21250805/assets{?name,label}
          asset_path: ./apks/viper-x86.apk
          asset_name: viper-x86.apk
          asset_content_type: application/zip     
